<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Account</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/base.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/register.css') }}"/>
</head>
{% extends "base.html" %}
{% block content %}
<body>
<div>
    <form method="POST">
        <div>
            <div>
                {{ form.csrf_token() }}
            </div>
            <div>
                {{ form.Username(class="input special-input-r", placeholder="Username") }}
            </div>
            <div>
                {{ form.Password(class="input special-input-r", placeholder="Password") }}
            </div>
            <div>
                {{ form.submit(class="submit-button-r") }}
            </div>
        </div>
    </form>
</div>
<div class="top-right">
    <h1 style="font-size:50px">Delete Account</h1>
</div>
</body>
</html>
{% endblock %}